%header.navigation
  .navigation-wrapper
    %a.logo{:href => "javascript:void(0)"}
      %img{:alt => "", :src => "https://rawgit.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png"}
    %a#js-mobile-menu.navigation-menu-button{:href => ""} MENU
    .nav
      %ul#navigation-menu
        %li.nav-link
          %a{:href => "/"} Home
        %li.nav-link
          = link_to 'Articles', articles_path
        %li.nav-link
          = link_to 'About', '/about'
        - if user_signed_in?
          %li.nav-link
            = link_to 'Edit Account', edit_user_registration_path
          %li.nav-link
            = link_to 'Sign out', destroy_user_session_path, :method=>'delete'
        - else
          %li.nav-link
            = link_to 'Sign in', new_user_session_path
          %li.nav-link
            = link_to 'Sign up', new_user_registration_path
        / %li.nav-link.more
        /   %a{:href => "javascript:void(0)"} More
        /   %ul.submenu
        /     %li
        /       %a{:href => "javascript:void(0)"} Submenu Item
        /     %li
        /       %a{:href => "javascript:void(0)"} Another Item
        /     %li.more
        /       %a{:href => "javascript:void(0)"} Item with submenu
        /       %ul.submenu
        /         %li
        /           %a{:href => "javascript:void(0)"} Sub-submenu Item
        /         %li
        /           %a{:href => "javascript:void(0)"} Another Item
        /     %li.more
        /       %a{:href => "javascript:void(0)"} Another submenu
        /       %ul.submenu
        /         %li
        /           %a{:href => "javascript:void(0)"} Sub-submenu
        /         %li
        /           %a{:href => "javascript:void(0)"} An Item
    .navigation-tools
      - if user_signed_in?
        .search-bar
          %form.search-and-submit{:action=>"/articles"}
            %input{:placeholder => "Enter Search", :type => "search", :name=>"q", :id=>"query"}
            %button{:type => "submit"}
              %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png"}
      - else
        %a.sign-up{:href => "javascript:void(0)"} Sign Up